body{
   
}
.principal{
    display: flex;
    
}
.menu{
    display: flex;
    flex:1;
   
    flex-direction: column;
    align-items: center;
    height: 500px;
    
}
.contenido{
    display: flex;
    flex:5;
   
    align-items: center;
    flex-direction: column;
}
.contenedorLogo{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.contenedorInfoGrupo{
    display: flex;
    flex: 1;
   
    flex-direction: column;
}


.contenedorBotones{
    display: flex;
    flex:4;
    flex-direction: column;
    justify-content: center;
}
.boton{
    margin-top: 10px;
}
.contenedorTexto{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex:1;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.contenedorAcciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
}
.etiquetaTexto{
    display: flex;
    flex:1;
    justify-content: flex-end;
    margin-right: 10px;

}

.cajaTexto{
    display: flex;
    flex:1;
    justify-content: flex-start;
}
.superior{
    margin-top: 40px;
    display: flex;
    flex:1;
    flex-direction: column;
}
.inferior{
    display: flex;
    flex:1;
    justify-content: center;
    margin-top: 30px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr:nth-child(odd) {
    background-color: #908efc;
  }
  
  tbody tr:nth-child(even) {
    background-color: #6a51cf;
  }
  
  tbody tr {
    background-image: url(noise.png);
  }
  
  table {
    background-color: #0b0c0c;
    width: 100%;
  }
  td{
    text-align: center;
  }
  thead{
    color: white;
  }
  .areaTabla{
    margin-top: 20px;
  }
  .menu{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid;
    border-color: #217023;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contenedorBoton{
    display: flex;
    flex:1;
    justify-content: center;
}
.estiloBoton:hover {
    background-color:white; 
    color: #217023;
    border: 1px solid;
    border-color: #217023;
    border-radius: 5px;
}
.estiloBoton:active{
    background-color: #217023; 
    border: 1px solid;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;

}
.estiloBoton:disabled {
    background-color:gray; 
    color: #232623;
    border: 1px solid;
    border-color: #232623;
    border-radius: 5px;}
.ingresoDatos{
    display: flex;
    flex-direction: row;
}